.App {
    display: flex;
    background-color: #E1E1E1;
    width: 100%;
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
}

form {
    display: flex;
    width: 100%;
    height: 100%;
    margin-top: 0;
    flex-direction: column;
    align-items: center;
}

.navContainer {
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    width: 100%;
    font-family: Roboto-Regular;
    background: #4A90E2;
    font-size: 24px;
    color: #00408B;
    display: flex;
}

@media screen and (max-width:700px) {

    .bg_navbar,
    .navContainer {
        flex-direction: column;
        align-items: center;
    }
}


.filter {
    width: 20%;
    height: 7.5%;
    text-align: center;
    justify-content: center;
    padding: 24px 0px 24px 0px;
    margin: 0 30px 0 30px;
}

.filter:hover,
.filterActive {
    box-sizing: border-box;
    padding: 24px 0px 19px 0px;
    border-bottom: #00408B 5px solid;
    color: #FFFFFF;

}

@media screen and (max-width:700px) {
    .filter {
        width: 100%;
    }
}

.input {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    width: 60%;
    height: 6%;
    font-family: Roboto-Regular;
    font-size: 24px;
    text-align: left;
}

@media screen and (max-width:700px) {
    .input {
        width: 90%;
    }
}

input:checked+label {
    text-decoration: line-through;
    font-family: Roboto-Medium;
    font-size: 24px;
    color: #9B9B9B;
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #C8C8C8;
}

.inputer {
    width: 100%;
    height: 100%;
    font-size: 24px;
    text-align: left;
    margin: 2% 0 2% 0;
    color: #000000;
    border-radius: 5px;
    border: 2px solid #C8C8C8;
}

.todoList {
    display: flex;
    justify-content: start;
    flex-direction: column;
    margin: 0;
    width: 60%;
    height: 92.57%;
    font-family: Roboto-Regular;
    font-size: 24px;
    text-align: left;
    background-color: #E1E1E1;
}

@media screen and (max-width:700px) {
    .todoList {
        width: 90%;
    }
}



.openTodoCheckbox {
    width: 96%;
    padding: 2%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.openTodoDetail {
    padding: 2% 0 2% 7%;
    display: flex;
    height: auto;
    width: 100%;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top: 2px solid #C8C8C8;
}

.labelContainer {
    display: inline-flex;
    align-self: flex-start;
    justify-content: flex-start;
    margin-bottom: 1vh;
    font-family: Roboto-Medium;
    font-size: 20px;
    color: #000000;
}

.dateInput {
    border-radius: 2px;
    align-self: flex-start;
    padding-left: 2vw;
    margin-bottom: 2vh;
}

.commitArea {
    border-radius: 2px;
    align-self: flex-start;
    padding-left: 2vw;
    width: 43.5vw;
    height: 10vh;
}

.todoDetailBtnContainer {
    display: inline-flex;
    justify-content: flex-start;
    align-items: flex-end;
    width: 100%;
}

.cancel {
    font-family: Roboto-Regular;
    font-size: 24px;
    text-align: center;
    color: #FFFFFF;
    background-color: #D0021B;
    width: 50%;
    border-width: 0px;
    border-style: none;
    border-color: none;
    padding: 1vh 0;
}

.cancel:hover {
    color: #D0021B;
    background-color: #FdFdFd;
}

.addTask {
    background: #4A90E2;

    color: #FFFFFF;
    text-align: center;
    width: 50%;
    padding: 1vh 0;
    border-width: 0px;
    border-style: outset;
    border-color: buttonborder;
    font-family: Roboto-Regular;
    font-size: 24px;
}

.addTask:hover {
    background: #FFFFFF;
    color: #3982D7;
}

input[type='checkbox'] {
    height: 24px;
    width: 24px;
    margin-right: 1.56%;
}

.todoCheckbox {
    width: 96%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.checkLabel {
    width: 60%;
}

#checkedBox {
    height: 24px;
    width: 24px;
    margin-right: 1.56%;
}

.checkbox {
    display: flex;
    justify-content: space-between;
    width: auto;

}

.todoCheckbox .checkbox {
    width: 24%;
}

.todoDetail {
    margin-left: 7%;
    font-family: Roboto-Regular;
    font-size: 16px;
    color: #757575;

}

.todoBtn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 30%;
}


.todoItem {
    box-sizing: border-box;
    padding: 1.56%;
    background-color: #F2F2F2;
    margin-bottom: 0.8%;

}

.checkedTodoItem {
    background: #FFF2DC;
    box-sizing: border-box;
    padding: 1.56%;
    margin-bottom: 0.8%;
}

.checkedOpenTodoItem {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-sizing: border-box;
    height: 100%;
    background-color: #FFF2DC;
    box-shadow: 0 4px 4px 0 #C8C8C8;
    border-radius: 5px;
    margin-bottom: 0.8%;
}

.openTodoItem {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-sizing: border-box;
    height: 100%;
    background-color: #F2F2F2;
    box-shadow: 0 4px 4px 0 #C8C8C8;
    border-radius: 5px;
    margin-bottom: 0.8%;
}

.hide {
    display: none;
}

.statusContainer {
    display: flex;
    width: 60%;
}

.status {
    font-family: Roboto-Italic;
    font-size: 24px;
    color: #C8C8C8;
    align-items: flex-start;
    background: #E1E1E1;
}

.tab {
    width: 100%;
    height: auto;
}

button {
    display: inline-block;
    border: none;
    margin: 0;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out,
        transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}

button img {
    width: 25px;
    height: 25px;

}

button:hover,
button:focus {
    background: #4A90E2;
}

button:active {
    transform: scale(0.99);
}

.faviconDate img {
    width: 20px;
    height: 20px;
    margin-right: 9px;
}